In [144]:
Random_State = 411

import multiprocessing
n_jobs = multiprocessing.cpu_count()-1

In [145]:
import numpy as np
import pandas as pd

In [146]:
dataset = pd.read_csv('data/CAR_ABT_GROUP2.csv', encoding='big5')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [147]:
# 觀測資料
dataset.describe()

,IS_CONTINUE_POLICY,IS_NEW_POLICY,UNIT_NO,DISCOUNT_PREMIUM,IS_FORCE_DEGREE_CH,LIMIT_DRIVER,INS_ISSUE_YEAR,IS_ADD_OUTFIT,IS_CHANGE_CARNO,BODY_CLAIM_CODE,...,DEPRECIA_RATE,IS_HPRICE_CAR,DISCOUNT_PREMIUM_AGN,CONCLUDE_NTD_AMOUNT_AGN,POLICY_COUNT_AGN,LOSS_RATE_AGN,INSRNCE_AMOUNT,INSURE,POLICY_RESULT_CODE,LOSS_RATE
count,534361.0,534361.0,534361.000000,534361.000000,534361.000000,534361.000000,534361.000000,497339.000000,534361.000000,534361.000000,...,534361.000000,534361.000000,5.343610e+05,5.343610e+05,534361.000000,534361.000000,5.343610e+05,6.212700e+04,534361.000000,534361.000000
mean,1.0,0.0,31.701801,7595.327750,0.971529,0.046946,5.423515,0.001307,0.000002,-2.000024,...,0.588891,0.002622,8.668855e+07,3.499337e+07,9930.304480,0.395038,5.144092e+05,3.571451e+04,4.158183,0.627808
std,0.0,0.0,24.334845,9582.857516,0.166315,0.211523,3.718160,0.036128,0.001368,1.125798,...,0.403864,0.051137,4.439733e+07,1.984409e+07,5969.282395,0.139109,6.169343e+05,7.475353e+04,2.411805,4.003576
min,1.0,0.0,1.000000,176.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-3.000000,...,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,1.000000,0.000000
25%,1.0,0.0,11.000000,2830.000000,1.000000,0.000000,3.000000,0.000000,0.000000,-3.000000,...,0.150000,0.000000,4.894377e+07,2.020065e+07,4865.000000,0.370000,1.500000e+05,7.726500e+03,1.000000,0.000000
50%,1.0,0.0,41.000000,4522.000000,1.000000,0.000000,5.000000,0.000000,0.000000,-2.000000,...,0.250000,0.000000,8.706214e+07,3.484117e+07,9967.000000,0.400000,3.530000e+05,1.677300e+04,6.000000,0.000000
75%,1.0,0.0,61.000000,8446.000000,1.000000,0.000000,8.000000,0.000000,0.000000,-1.000000,...,1.000000,0.000000,1.219720e+08,4.640997e+07,14097.000000,0.450000,6.240000e+05,3.659700e+04,6.000000,0.000000
max,1.0,0.0,91.000000,661672.000000,1.000000,1.000000,34.000000,1.000000,1.000000,12.000000,...,1.000000,1.000000,1.930479e+08,8.244457e+07,99179.000000,47.910000,4.080000e+07,3.288000e+06,6.000000,278.910000

In [148]:
COL_LIST = []
IS_NULL_CNT = []
IS_NULL_PERCENT = []
UNIQUE_CNT = []
for col in dataset.columns:
    COL_LIST.append(col)
    IS_NULL_CNT.append(dataset[col].isnull().sum())
    IS_NULL_PERCENT.append(dataset[col].isnull().sum()/len(dataset))
    UNIQUE_CNT.append(len(dataset[col].value_counts()))
# 簡易資料探勘
df = pd.DataFrame({"欄位名稱":COL_LIST,"缺失值數量":IS_NULL_CNT,"缺失值占比":IS_NULL_PERCENT,"欄位元素總合":UNIQUE_CNT})
df.to_csv('datamining.csv',encoding='big5')

In [153]:
# 移除不要的欄位
dropcol_list = ['OCCU_CATCODE_INS',
                'OCCU_CATCODE_APC',
                'INS_SCHOOL_DEGREE',
                'INS_ZIP_CODE',
                'INTRDUCE_DIV_NO',
                'INSURE',
                'APC_AGE',
                'APC_MARRIAGE','CONTRACT_NO','ENGINE_NO']

# 移除只有單一值欄位或有問題欄位
dropcol_list2 = ['CATEGORY_CODE','IS_CONTINUE_POLICY',
                'IS_NEW_POLICY',
                'IS_MAIN_INSURED',
                'CATEGORY_KIND',
                'ONE_PARK_CNT_BURG',
                'TWO_PARK_CNT_BURG',
                'THREE_PARK_CNT_BURG',
                'ONE_PARK_CNT_CUST',
                'TWO_PARK_CNT_CUST',
                'THREE_PARK_CNT_CUST',
                'ONE_PARK_CNT_COM',
                'TWO_PARK_CNT_COM',
                'THREE_PARK_CNT_COM',
                'ONE_PARK_CNT_BURG_C',
                'TWO_PARK_CNT_BURG_C',
                'THREE_PARK_CNT_BURG_C',
                'ONE_PARK_CNT_CUST_C',
                'TWO_PARK_CNT_CUST_C',
                'THREE_PARK_CNT_CUST_C',
                'ONE_PARK_CNT_COM_C',
                'TWO_PARK_CNT_COM_C',
                'THREE_PARK_CNT_COM_C',
                'INS_IS_ONE_YEAR_REPAIR',
                'INS_IS_TERR',
                'APC_IS_TERR',
                'INS_SAN',
                'APC_SAN',
                'INS_AM',
                'APC_AM',
                'INS_ML_TF',
                'APC_ML_TF',
                'INS_IS_DRUNK_DRIVING']

In [157]:
dataset = dataset.drop(dropcol_list+dropcol_list2, axis = 1)
dataset.head()

,UNIT_NO,DISCOUNT_PREMIUM,IS_FORCE_DEGREE_CH,LIMIT_DRIVER,INS_ISSUE_YEAR,IS_ADD_OUTFIT,IS_NEW_CAR,IS_CHANGE_CARNO,BODY_CLAIM_CODE,IS_TRADE_FORCE,...,INS_IS_FRAUD_GROUP,DEPRECIA_RATE,IS_HPRICE_CAR,DISCOUNT_PREMIUM_AGN,CONCLUDE_NTD_AMOUNT_AGN,POLICY_COUNT_AGN,LOSS_RATE_AGN,INSRNCE_AMOUNT,POLICY_RESULT_CODE,LOSS_RATE
0,1,1892.0,1,0,13,0.0,N,0,-2,0,...,0,1.00,0,7191025.0,2959915.0,378.0,0.41,30000.0,6,15.86
1,1,4240.0,1,0,7,0.0,N,0,-2,0,...,0,1.00,0,7191025.0,2959915.0,378.0,0.41,385000.0,6,0.00
2,1,1333.0,1,0,11,0.0,N,0,-3,0,...,0,0.15,0,7191025.0,2959915.0,378.0,0.41,50000.0,6,0.00
3,1,1310.0,1,0,20,0.0,N,0,-3,0,...,0,0.25,0,7191025.0,2959915.0,378.0,0.41,30000.0,1,0.00
4,1,1093.0,0,0,9,0.0,N,0,0,0,...,0,1.00,0,7191025.0,2959915.0,378.0,0.41,30000.0,1,0.00

In [159]:
dataset['UNIT_NO'].value_counts()

41    83774
1     69128
13    65328
64    62503
6     57687
62    36531
44    32149
14    29939
66    17557
15    16146
45    13804
61    12497
12    11153
43     8852
11     8025
81     5857
82     3115
90      153
67      146
91       17
Name: UNIT_NO, dtype: int64

In [117]:
dataset[dataset['START_DATETIME'] < '2017-01-01'].head()

,CONTRACT_NO,IS_CONTINUE_POLICY,IS_NEW_POLICY,UNIT_NO,DISCOUNT_PREMIUM,IS_FORCE_DEGREE_CH,LIMIT_DRIVER,INS_ISSUE_YEAR,IS_ADD_OUTFIT,IS_NEW_CAR,...,DEPRECIA_RATE,IS_HPRICE_CAR,DISCOUNT_PREMIUM_AGN,CONCLUDE_NTD_AMOUNT_AGN,POLICY_COUNT_AGN,LOSS_RATE_AGN,INSRNCE_AMOUNT,INSURE,POLICY_RESULT_CODE,LOSS_RATE
0,1504CA0039771256,1,0,1,1892.0,1,0,13,0.0,N,...,1.00,0,7191025.0,2959915.0,378.0,0.41,30000.0,30000.0,6,15.86
1,1403CA0015462480,1,0,1,4240.0,1,0,7,0.0,N,...,1.00,0,7191025.0,2959915.0,378.0,0.41,385000.0,NaN,6,0.00
2,1406CA0033995877,1,0,1,1333.0,1,0,11,0.0,N,...,0.15,0,7191025.0,2959915.0,378.0,0.41,50000.0,NaN,6,0.00
3,1212CA0043507894,1,0,1,1310.0,1,0,20,0.0,N,...,0.25,0,7191025.0,2959915.0,378.0,0.41,30000.0,NaN,1,0.00
4,1202AS0005429070,1,0,1,1093.0,0,0,9,0.0,N,...,1.00,0,7191025.0,2959915.0,378.0,0.41,30000.0,NaN,1,0.00

In [143]:
COL_LIST = []
IS_NULL_CNT = []
IS_NULL_PERCENT = []
UNIQUE_CNT = []
for col in dataset.columns:
    COL_LIST.append(col)
    IS_NULL_CNT.append(dataset[col].isnull().sum())
    IS_NULL_PERCENT.append(dataset[col].isnull().sum()/len(dataset))
    UNIQUE_CNT.append(len(dataset[col].value_counts()))
# 簡易資料探勘
df = pd.DataFrame({"欄位名稱":COL_LIST,"缺失值數量":IS_NULL_CNT,"缺失值占比":IS_NULL_PERCENT,"欄位元素總合":UNIQUE_CNT})
df.to_csv('datamining2.csv',encoding='big5')

In [112]:
BODY_CLAIM_CODE

In [140]:
len(dataset["BODY_CLAIM_CODE"].value_counts())

13

In [58]:
np.arange(0,len(ironmen))

array([0, 1, 2, 3, 4, 5])

In [151]:
dataset["CATEGORY_KIND"].value_counts()

1    534361
Name: CATEGORY_KIND, dtype: int64

In [102]:
UNIQUE_CNT

[534361,
 1,
 1,
 20,
 35115,
 2,
 2,
 35,
 2,
 2,
 2,
 192308,
 13,
 2,
 2,
 36,
 1,
 2,
 88,
 2,
 0,
 2,
 8,
 2,
 83,
 2,
 0,
 789,
 3,
 6497,
 4,
 4,
 422,
 14,
 1,
 42167,
 21,
 48391,
 27,
 50360,
 32,
 50372,
 36,
 49434,
 36,
 4,
 5,
 5,
 2,
 26,
 2226,
 32316,
 7,
 36291,
 9,
 37381,
 12,
 37131,
 14,
 36483,
 14,
 3,
 4,
 4,
 2,
 22,
 71,
 2,
 109,
 3,
 127,
 3,
 134,
 3,
 135,
 3,
 1,
 1,
 1,
 2,
 9,
 16252,
 14,
 17902,
 14,
 18677,
 16,
 18855,
 18,
 18757,
 18,
 2,
 2,
 2,
 2,
 23,
 43,
 2,
 45,
 3,
 46,
 3,
 46,
 3,
 47,
 3,
 1,
 1,
 1,
 2,
 12,
 456,
 4,
 563,
 6,
 628,
 6,
 652,
 6,
 664,
 6,
 2,
 2,
 2,
 2,
 13,
 551,
 7,
 688,
 9,
 771,
 11,
 794,
 15,
 806,
 15,
 2,
 2,
 2,
 2,
 22,
 6157,
 8,
 6699,
 12,
 6949,
 12,
 7100,
 11,
 7137,
 11,
 1,
 1,
 1,
 2,
 23,
 42077,
 20,
 47783,
 30,
 49438,
 35,
 49461,
 40,
 48708,
 41,
 5,
 5,
 5,
 2,
 60,
 31533,
 12,
 35259,
 15,
 36189,
 16,
 35926,
 17,
 35352,
 18,
 4,
 5,
 5,
 2,
 25,
 47,
 2,
 50,
 3,
 50,
 3,
 50,
 3,
 50,
 3,
 1,
 1,
 1,
 2,
 10,
 14738,
 9,
 15746,
 12,
 16054,
 14,
 16034,
 15,
 15929,
 17,
 2,
 2,
 2,
 2,
 25,
 33,
 2,
 34,
 2,
 34,
 2,
 34,
 2,
 34,
 2,
 1,
 1,
 1,
 2,
 11,
 15,
 3,
 16,
 3,
 16,
 3,
 16,
 3,
 16,
 3,
 2,
 2,
 2,
 2,
 10,
 438,
 7,
 524,
 9,
 558,
 11,
 586,
 15,
 592,
 15,
 2,
 2,
 2,
 2,
 25,
 5225,
 5,
 5433,
 7,
 5479,
 7,
 5485,
 7,
 5471,
 7,
 1,
 1,
 1,
 2,
 24,
 27839,
 10,
 32630,
 13,
 34506,
 14,
 4,
 2,
 2,
 2,
 2,
 2,
 320,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 2,
 2,
 2,
 1,
 2,
 2,
 2,
 2,
 2,
 7,
 2,
 398,
 308,
 255,
 103,
 4848,
 27582,
 2,
 4197]

In [96]:
UNIQUE_CNT = []

In [99]:
UNIQUE_CNT.append('a')
UNIQUE_CNT

['a', 'a']

In [8]:
os.environ['KERAS_BACKEND']='tensorflow'
os.environ['MLENS_BACKEND']='multiprocessing'
plt.style.use('seaborn')
plt.rcParams['figure.dpi'] = 144
plt.rcParams['figure.figsize'] = (8,6)
plt.rcParams['axes.unicode_minus'] = False
sns.set(font_scale=0.6,font="Microsoft JhengHei")

import xlrd
import unicodecsv

def xls2csv (filename):
    if filename.split('.')[-1] == 'csv':
        return filename
    elif filename.split('.')[-1] not in ('xls', 'xlsx'):
        if os.path.exists(filename+'.csv'):
            return filename+'.csv'
        elif os.path.exists(filename+'.xls') :
            filenamexls = filename+'.xls'
        elif os.path.exists(filename+'.xlsx'):
            filenamexls = filename+'.xlsx'
    else:
        filenamexls = filename

    # Converts an Excel file to a CSV file.
    # If the excel file has multiple worksheets, only the first worksheet is converted.
    # Uses unicodecsv, so it will handle Unicode characters.
    # Uses a recent version of xlrd, so it should handle old .xls and new .xlsx equally well.

    wb = xlrd.open_workbook(filenamexls, encoding_override="cp950")
    sh = wb.sheet_by_index(0)

    filenamecsv = filenamexls.replace('xlsx','csv').replace('xls','csv')
    with open(filename+'.csv',"wb") as fh:
        csv_out = unicodecsv.writer(fh, encoding='utf-8')
        for row_number in range(sh.nrows):
            print(sh.row_values(row_number))
            force_decode(sh.row_values(row_number))
            csv_out.writerow(sh.row_values(row_number))

    fh.close()
    return filenamecsv

TrainDataFileCSV = xls2csv(TrainDataFile)
# TestDataFileCSV = xls2csv(TestDataFile)
# OutputAnswerCSV = OutputAnswer + '.csv'

In [13]:
OutputAnswerCSV = OutputAnswer + '.csv'

In [15]:
Random_State = 411

import multiprocessing
n_jobs = multiprocessing.cpu_count()-2

In [18]:
OutputAnswerCSV

'digits_ans.csv'

In [17]:
try:
    os.remove(OutputAnswerCSV)
except OSError:
    pass